@import "../../../client/components/Layout/Layout";

.main-content {
  padding: 40px;
  text-align: center;

  h1 {
    color: white;
  }

  p {
    color: #D9D9D9;
    font-size: 14px;
  }

  .button {
    margin: 0 auto;
  }
}

.secondary-content {
  padding: 40px;
  background-color: white;

  > div {
    display: flex;
    max-width: 600px;
    margin: 0 auto;

    > div:nth-child(2) {
      .shapes {
        width: 300px;
      }
    }

    > div:nth-child(1) {
      padding: 10px;
      h1 {
        color: #304FFE;
        text-align: left;
      }

      p {
        color: dimgray;
        text-align: left;
        font-size: 14px;
      }
    }
  }
}


